{% load static %}

<!-- Navbar -->
  <nav style="background-color: #181A1B" class="navbar dark navbar-dark navbar-expand-lg">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}" target="_blank">
        <img src="{% static 'logo.jpeg' %}" height="35px">
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto pr-3">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'home' %}">Home
            </a>
          </li>
            {% if user.has_shop %}
          <li class="nav-item pl-2">
            <a href="{% url 'shop-dashboard' %}" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fas fa-store mr-2"></i>Dashboard
            </a>
          </li>
            {% else %}
          <li class="nav-item pl-2">
            <a href="{% url 'sell' %}" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fas fa-store mr-2"></i>Sell
            </a>
          </li>
            {% endif %}
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="{% url 'cart' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ cart.count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            {% if user.is_authenticated %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
{#              <a class="dropdown-item" href="#">Dashboard</a>#}
{#              <a class="dropdown-item" href="#">Edit Profile</a>#}
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
                {% else %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'register' %}">Register</a>
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
