{% extends 'shop/base.html' %}
{% load static %}
{% block content%}

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>

            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control validate" required name="name" id="name">
                        </div>

                        <div class="mb-3">
                            <label for="name">Category</label>
                            <select name="category" class="custom-select w-100 d-block validated">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="price">Product Price</label>
                            <input type="number" class="form-control validate" required name="price" id="price">
                        </div>

                        <div class="mb-3">
                            <label for="discount">Product Discount</label>
                            <input type="number" class="form-control validate" required name="discount" id="discount">
                        </div>

                        <div class="mb-3">
                            <label for="desc-title">Product Description Title</label>
                            <input type="text" class="form-control validate" required name="desc-title" id="desc-title">
                        </div>

                        <div class="mb-3">
                            <label for="price">Product Description</label>
                            <textarea class="form-control validate" required name="description" id="description"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="image">Image</label><br>
                            <input type="file" class="fa fa-cloud-upload-alt" required accept="image/*" name="image" id="image">
                        </div>
                        <small class="text-warning"> * optional</small>

                        <div class="mb-3">
                            <input type="file" required class="fa fa-cloud-upload-alt" accept="image/*" name="image2">
                        </div>

                        <div class="mb-3">
                            <input type="file" required class="fa fa-cloud-upload-alt" accept="image/*" name="image3">
                        </div>

                        <div class="mb-3">
                            <input type="file" required class="fa fa-cloud-upload-alt" accept="image/*" name="image4">
                        </div>

                        <div class="mb-5">
                            <button class="btn btn-primary btn-block text-uppercase mb-3" type="submit">Add Product Now</button>
                        </div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}