{% load static %}
<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <title>Shop Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/adminbootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom_.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="">
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li >
                        <a href="#" ><i class="fa fa-tablet "></i>Products</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-table "></i>Orders</a>
                    </li>

                    <li class="link">
                        <a href="#"><i class="fa fa-edit "></i>Records </a>
                    </li>

                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">

                {% block content %}

                {% endblock %}

            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/jsbootstrap.min.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/custom.js' %}"></script>


</body>
</html>
