{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="row">
                    <div class="col-lg-12">
                     <h2> PRODUCTS </h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                             <strong>Welcome {{ owner.firstname }}! </strong>

                            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRODUCT PRICE</th>
                    <th scope="col">IN DISCOUNT</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products %}
                  <tr>
                    <td class="tm-product-name">{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>

                    <td>
                      <a href="{% url 'delete-product' product.id %}" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
                        </div>
                    </div>
                    </div>
                  </div>
              </div>

                  <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
{% endblock %}