{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="row">
                    <div class="col-lg-12">
                     <h2>ADMIN DASHBOARD</h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                             <strong>Welcome {{ shop.owner }}! </strong>
                        </div>

                    </div>
                    </div>
                  <!-- /. ROW  -->



                  </div>
              </div>

                  <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
{% endblock %}