{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
         <h2> Orders </h2>
        </div>
    </div>
    <div class="container-fluid bg-white">
        <div class="alert alert-info">
            <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER NO.</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">CUSTOMER</th>
                                    <th scope="col">LOCATION</th>
                                    <th scope="col">TRANSPORT</th>
                                    <th scope="col">START DATE</th>
                                    <th></th>
                                    <th scope="col">EST DELIVERY DUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in shop_orders %}
{#                                <tr>#}
{#                                    <th scope="row"><b>#{{ order.id }}</b></th>#}
{#                                    <td>#}
{#                                        <div class="tm-status-circle pending">#}
{#                                        </div>{{ order.status }}#}
{#                                    </td>#}
{#                                    <td><b>{{ order.customer }}</b></td>#}
{#                                    <th><b>{{ order.location }}</b></th>#}
{#                                    <td><b>{{ order.transport }}</b></td>#}
{#                                    <td><b>{{ order.made_on }}</b></td>#}
{#                                    <td>{{ order.received_on }}</td>#}
{#                                    <td>{{ order.estimated }}</td>#}
{#                                </tr>#}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}