{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js css/axios.min.js' %}"></script>
    <script src="{% static 'js css/vue.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js css/bootstrap.min.css' %}">
</head>
<body>
    <div id="app">
    {% include '_nav.html' %}
        {% block content %}

        {% endblock %}

    </div>

    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'js css/bootstrap.bundle.min.js' %}"></script>
</body>
</html>