{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elsoko</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js css/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js css/axios.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_.css' %}">
</head>
<body>



    <div class="container-fluid" id="app">
            <div v-if="showMessage" class="container-sm bg-light position-fixed bottom-0 p-3" style="z-index: 110" >
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <div class="row">
                        <div class="col-sm-10">
                            [[ message ]]
                        </div>
                        <div class="col-sm-2">
                            <button class="close btn btn-outline-danger float-right" type="button" data-dismiss="alert" aria-label="Close">
                                <span class="float-right" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        <div class="row min-vh-100">
            <div class="col-sm-12">
                <header class="row">
                    <!-- Top Nav -->
                    <div class="col-sm-12 bg-dark py-2 d-md-block">
                        <div class="row">
                            <div class="col-auto me-auto">
                                <ul class="top-nav">
                                    <li>
                                        <a href="tel:+2547*******"><i class="fa fa-phone-square me-2"></i>+254*******</a>
                                    </li>
                                    <li>
                                        <a href="mailto:mail@ecom.com"><i class="fa fa-envelope me-2"></i>mail@ecom.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto">

                                {% if user.is_authenticated %}
                                <ul class="top-nav">
                                    <li>
                                        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
                                    </li>
                                    {% if user.has_shop %}
                                        <a href="{% url 'shop-dashboard' %}"><i class="fas fa-book-open-alt me-2"></i>Manage Shop</a>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'sell' %}"><i class="fas fa-cash-register me-2"></i> Sell</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% else %}
                                <ul class="top-nav">
                                    <li>
                                        <a href="{% url 'register' %}"><i class="fas fa-user-edit me-2"></i>Register</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt me-2"></i>Login</a>
                                    </li>
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </header>
                    <!-- Top Nav -->


                {% block content %}

                {% endblock %}
            <div class="col-12 align-self-end">
                <!-- Footer -->
                <footer class="row">
                    <div class="col-12 bg-dark text-white pb-3 pt-5">
                        <div class="row">
                            <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="footer-logo">
                                            <a href="{% url 'home' %}">Elsoko</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <address>
                                            Street<br>
                                            County, Kenya
                                        </address>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Who are we?</h4>
                                    </div>
                                    <div class="col-12 text-justify">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li>
                                                <a href="#">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="#">Terms & Conditions</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase text-underline">
                                        <h4>Help</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="#">FAQs</a>
                                            </li>
                                            <li>
                                                <a href="#">Shipping</a>
                                            </li>
                                            <li>
                                                <a href="#">Returns</a>
                                            </li>
                                            <li>
                                                <a href="#">Track Order</a>
                                            </li>
                                            <li>
                                                <a href="#">Report Fraud</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>

    </div>
    </div>
    </div>

    <script type="text/javascript" src="{% static 'app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>