{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/nav.html' %}
        <div class="container m-auto p5 mb4" style="color: #D1CDC7">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
    <table class="table table-dark table-hover" style="color: #D1CDC7" >
        <thead>
            <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
            <td class="col-sm-6 col-md-8">
            <div class="media">
            <a class="thumbnail pull-left" href="{% url 'products' item.product.id %}"> <img class="media-object" src="{{ item.product.image.url }}" style="width: 72px; height: 72px;"> </a>
            </div>
            </td>
            <td class="col-sm-6 col-md-6" style="text-align: center">
                <div class="row btn-group-sm">
                    <a href="{% url 'update_minus' item.product.id item.quantity %}" style="border: solid 2px; margin: 0px; padding: 5px; color: white;" class="border-info rounded">-</a>
                    <h5 class="px-2">{{ item.quantity }}</h5>
                    <a href="{% url 'update_plus' item.product.id item.quantity %}" style="border: solid 2px; margin: 0px; padding: 5px; color: white;" class="border-info rounded">+</a>
                </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center"><strong>ksh {{ item.unit_price }}</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>ksh {{ item.total_price }}</strong></td>
            <td class="col-sm-1 col-md-1">
            <a href="{% url 'remove' item.product.id %}" class="btn btn-danger">
            <span class="fas fa-trash"></span> Remove
            </a></td>
            </tr>
        {% endfor %}

            <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h5>Subtotal</h5></td>
            <td class="text-right"><h5><strong>{{ cart.summary }}</strong></h5></td>
            </tr>
            <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
{#            <td><h5>Estimated Transport</h5></td>#}
{#            <td class="text-right"><h5><strong>{{ transport }}</strong></h5></td>#}
            </tr>
            <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h3>Total</h3></td>
            <td class="text-right"><h3><strong>ksh {{ cart.summary }}</strong></h3></td>
            </tr>
            <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
            <a href="{% url 'home' %}" class="btn btn-default">
            <span class="fa fa-shopping-cart"></span> Continue Shopping
            </a></td>
            <td>
            <a href="{% url 'checkout' %}" class="btn btn-success">
            Checkout <span class="fa fa-play"></span>
            </a></td>
            </tr>
        </tbody>
    </table>
</div>
        </div>
    {% include 'partials/footer.html' %}
{% endblock %}