{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/nav.html' %}
  <!--Main layout-->
  <main class="mt-5">
    <div class="container">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body">
                {% for field in form %}
                <div class="mb-5">
                    <label for="address">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ cart.count }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for item in cart %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ item.product.name }}</h6>
                <small class="text-muted">{{ item.product.description_title }}</small>
              </div>
              <span class="text-muted"> ksh {{ item.unit_price }}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (KSH)</span>
              <strong>ksh {{ cart.summary }}</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
{#          <form class="card p-2">#}
{#            <div class="input-group">#}
{#              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">#}
{#              <div class="input-group-append">#}
{#                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>#}
{#              </div>#}
{#            </div>#}
{#          </form>#}
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}