{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/nav.html' %}
        <div class="col-12">
            <!-- Main Content -->
            <main class="row">

                <!-- Category Products -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    {% if search_key and not nothing %}
                                        <h2>Results for {{ search_key }} </h2>
                                    {% else %}
                                        <h2> Nothing found </h2>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                            {% if nothing %}
                                <p></p>
                            {% else %}
                                <!-- Product -->
                                {% for product in products %}
                                    {% include 'partials/product.html' %}
                                {% endfor %}
                                <!-- Product -->
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Category Products -->
{##}
{#                <div class="col-12">#}
{#                    <nav aria-label="Page navigation example">#}
{#                        <ul class="pagination justify-content-center">#}
{#                            <li class="page-item disabled">#}
{#                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-long-arrow-alt-left"></i></a>#}
{#                            </li>#}
{#                            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                            <li class="page-item active" aria-current="page">#}
{#                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>#}
{#                            </li>#}
{#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}
{#                </div>#}

            </main>
            <!-- Main Content -->
        </div>
    {% endblock %}