{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/nav.html' %}

               <div class="col-12">
                <!-- Main Content -->
                <div class="row">
                    <div class="col-12 mt-3 text-center text-uppercase">
                        <h2>Create Your Shop.</h2>
                    </div>
                </div>

                <main class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mx-auto bg-white py-3 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                        <div class="mb-3">
                                            <label for="name">Name: </label>
                                            <input type="text" class="form-control" id="name" name="name"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="name">Location: </label>

                                            <select class="d-block w-100 custom-select" name="_location">
                                                <option class="form-control" value="hi" > select your shop location </option>
                                                {% for location in location %}
                                                    <option class="form-control" value="{{ location }}">{{ location }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>

                                        <div class="mb-3">
                                            <label for="name">Industry: </label>

                                             <select class="d-block w-100 custom-select" name="industry">
                                                <option class="form-control" value="hi" > Select your industry </option>
                                                 {% for industry in industries %}
                                                    <option class="form-control" value="{{ industry.name }}">{{ industry.name }}</option>
                                                 {% endfor %}
                                            </select>

                                        </div>


                                        <div class="mb-3">
                                            <label for="link">Personal shop website: </label>
                                            <input type="text" class="form-control" id="link" name="link"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="mpesa">Mpesa paybill/Till number:</label>
                                            <input type="mpesa" name="mpesa" id="mpesa" class="form-control" />
                                        </div>

                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-outline-primary"> Create Shop</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </main>
                <!-- Main Content -->
            </div>

{% endblock %}